/* =============== font-face ================= */

@font-face {

    src: url(../font/chronicle-display/Chronicle\ Display\ Black.otf);
    src: url(../font/chronicle-display/Chronicle\ Display\ Light\ Italic.otf);
    src: url(../font/chronicle-display/Chronicle\ Display\ Roman.otf);
    src: url(../font/chronicle-display/Chronicle\ Display\ Semibold.otf);
    font-family: 'chronicle-display';
}

@font-face {
    font-family: 'gilroy';
    src: url(../font/gilroy-bold/Gilroy-Bold.ttf);
    src: url(../font/gilroy-bold/Gilroy-Heavy.ttf);
    src: url(../font/gilroy-bold/Gilroy-Light.ttf);
    src: url(../font/gilroy-bold/Gilroy-Medium.ttf);
    src: url(../font/gilroy-bold/Gilroy-Regular.ttf);
}


/* ================= common css ================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'gilroy';
    font-size: 18px;
    overflow-x: hidden;
}

.container {
    max-width: 1760px;
    padding: 0 30px;
}

section {
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    font-family: 'chronicle-display';
    font-weight: 500;
}

ul li {
    list-style: none;
}

button {
    transition: all 0.5s ease;
}

button:hover {
    transform: scale(1.1);
}

/* ================== header ================= */

header {
    position: relative;
}

/* =================== navbar =================== */

.navbar {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 153px;
    padding: 64px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container .logo {
    width: 10%;
    height: 100%;
}

.navbar .container .logo img {
    height: 100%;
}

.navbar .container .nav-menu {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .nav-menu ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .nav-menu ul li {
    padding: 0 20px;
}

.navbar .container .nav-menu ul li a {
    color: #ffffff;
    font-weight: 700;
}

.navbar .container .nav-menu ul li a:hover {
    font-size: 20px;
    color: #0B1D26;
    font-weight: 900;
    border-bottom: 1px solid #0B1D26;
}

.navbar .container .user {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar .container .user a {
    color: #ffffff;
    font-weight: 600;
    display: flex;
}

.navbar .container .menu-icon {
    color: #ffffff;
    display: none;
}

.navbar .container .user a:hover {
    transform: scale(1.1);
    color: #0B1D26;
}

.navbar .container .user a i {
    padding-right: 8px;
}

/* ================ banner ================= */

.banner {
    min-height: 1200px;
    background: linear-gradient(to bottom right, rgb(11, 29, 38, 0.9), rgba(0, 0, 0, 0)), url(../img/cloud.webp) no-repeat;
    background-size: cover;
    background-position: top top;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.banner .container .row {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mountain {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 42%;
    left: 0;
}

#mountain .figure {
    width: 100%;
    height: 100%;
}

#mountain figure img {
    width: 100%;
}

#man {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#man figure {
    width: 100%;
    height: 100%;
}

#man figure img {
    width: 100%;
}

.banner .container .row .social-media {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
}

.banner .container .row .social-media p {
    color: #ffffff;
    font-weight: 700;
    transition: all 0.5s ease;
    cursor: pointer;
    transform: rotate(90deg);
    margin-bottom: 40px;
}

.banner .container .row .social-media p:hover {
    color: #FBD784;
    font-size: 20px;
}

.banner .container .row .social-media a {
    color: #ffffff;
    padding: 15px 0;
}

.banner .container .row .social-media a i:hover {
    color: #FBD784;
}

.banner .container .row .heading {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: -15%;
}

.banner .container .row .heading .head {
    width: 35%;
    text-align: end;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    position: relative;
}

.banner .container .row .heading .head::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 0%;
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.banner .container .row .heading h1 {
    font-size: 88px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 32px 0;
}

.banner .container .row .heading .scroll {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.5s ease;
}

.banner .container .row .heading .scroll .scroll-down {
    transition: all 0.5s ease;
}

.banner .container .row .heading .scroll:hover {
    transform: scale(1.1);
    color: #FBD784;
    .scroll-down {
        transform: scale(1.5);
    }
}

.banner .container .row .progress-bar {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    /* max-height: 35%; */
    margin-top: -15%;
}

.banner .container .row .progress-bar a {
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
}

.banner .container .row .progress-bar a:hover {
    transform: scale(1.1);
    color: #FBD784;
}

/* ================= level ================== */

.level {
    height: 820px;
    padding: 55px 110px;
    /* background: url(../img/bottom-grad.webp) no-repeat;
    background-size: auto; */
    z-index: 3;
    position: relative;
    background: linear-gradient(rgba(11, 29, 38, 0)10% , rgb(11, 29, 38) 30%);
}

.level::before {
    content: attr(data-info);
    font-size: 240px;
    font-family: 'gilroy';
    font-weight: 700;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 1;
    top: 9%;
    left: 8%;
}

.level .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.level .container .row .text-content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 140px 114px 140px 150px;
}

.level .container .row .text-content .head {
    width: 45%;
    text-align: end;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    position: relative;
}

.level .container .row .text-content .head::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.level .container .row .text-content h2 {
    font-size: 64px;
    font-weight: 500;
    font-family: 'chronicle-display';
    color: #ffffff;
}

.level .container .row .text-content p {
    color: #ffffff;
    font-weight: 600;
    line-height: 2;
    padding: 27px 0;
}

.level .container .row .text-content a {
    font-weight: 600;
    color: #FBD784;
}

.level .container .row .image-content {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.level .container .row .image-content figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level .container .row .image-content figure img {
    height: 100%;
    transition: all 1s ease;
}

.level .container .row .image-content figure img:hover {
    transform: scale(1.2);
}


/* =============== gear ================= */

.gear {
    height: 820px;
    padding: 55px 110px;
    z-index: 2;
    background-color: #0B1D26;
    position: relative;
}

.gear::before {
    content: attr(data-info);
    font-size: 240px;
    font-family: 'gilroy';
    font-weight: 700;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 1;
    top: 9%;
    left: 48.3%;
}

.gear .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gear .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.gear .container .row .text-content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 0 140px 267px;
}

.gear .container .row .text-content .head {
    width: 85%;
    text-align: start;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    position: relative;
}

.gear .container .row .text-content .head::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -18%;
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.gear .container .row .text-content h2 {
    font-size: 64px;
    font-weight: 500;
    font-family: 'chronicle-display';
    color: #ffffff;
}

.gear .container .row .text-content p {
    color: #ffffff;
    font-weight: 600;
    line-height: 2;
    padding: 27px 0;
}

.gear .container .row .text-content a {
    font-weight: 600;
    color: #FBD784;
    width: 100%;
}

.gear .container .row .image-content {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gear .container .row .image-content figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gear .container .row .image-content figure img {
    height: 100%;
}

/* =============== map-timing ================= */

.map-timing {
    height: 820px;
    padding: 55px 110px;
    z-index: 2;
    background-color: #0B1D26;
    position: relative;
}

.map-timing::before {
    content: attr(data-info);
    font-size: 240px;
    font-family: 'gilroy';
    font-weight: 700;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 1;
    top: 9%;
    left: 8%;
}

.map-timing .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-timing .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.map-timing .container .row .text-content {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 140px 114px 140px 150px;
}

.map-timing .container .row .text-content .head {
    width: 75%;
    text-align: end;
    color: #FBD784;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    position: relative;
}

.map-timing .container .row .text-content .head::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.map-timing .container .row .text-content h2 {
    font-size: 64px;
    font-weight: 500;
    font-family: 'chronicle-display';
    color: #ffffff;
}

.map-timing .container .row .text-content p {
    color: #ffffff;
    font-weight: 600;
    line-height: 2;
    padding: 27px 0;
}

.map-timing .container .row .text-content a {
    font-weight: 600;
    color: #FBD784;
}

.map-timing .container .row .text-content a i {
    transition: all 0.5s ease;
    font-size: 18px;
}

.map-timing .container .row .text-content a:hover {
    transform: scale(1.2);
    i {
        margin-left: 10px;
    }
}

.map-timing .container .row .image-content {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.map-timing .container .row .image-content figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-timing .container .row .image-content figure img {
    height: 100%;
}

/* ================ footer ================ */

.footer-primary {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1D26;
    padding: 50px 115px;
}

.footer-primary .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-primary .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-primary .container .row .brand-about {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.footer-primary .container .row .brand-about .brand-desc {
    height: 40%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.footer-primary .container .row .brand-about .brand-desc img {
    transition: all 0.5s ease;
}

.footer-primary .container .row .brand-about .brand-desc img:hover {
    transform: scale(1.1);
}

.footer-primary .container .row .brand-about .brand-desc p {
    line-height: 32px;
    color: #ffffff;
    font-weight: 500;
}

.footer-primary .container .row .brand-about .copyright {
    width: 100%;
}

.footer-primary .container .row .brand-about .copyright p{
    color: #ffffff;
}

.footer-primary .container .row .footer-menu {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-primary .container .row .footer-menu .footer-menu-blog {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.footer-primary .container .row .footer-menu .footer-menu-blog .menu-head {
    color: #FBD784;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 24px;
}

.footer-primary .container .row .footer-menu .footer-menu-blog ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.footer-primary .container .row .footer-menu .footer-menu-blog ul li {
    padding: 8px 0;
}

.footer-primary .container .row .footer-menu .footer-menu-blog ul li a {
    color: #ffffff;
    font-weight: 500;
}

.footer-primary .container .row .footer-menu .footer-menu-blog ul li a:hover {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-primary .container .row .footer-menu .footer-menu-more {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.footer-primary .container .row .footer-menu .footer-menu-more .menu-head {
    color: #FBD784;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 24px;
}

.footer-primary .container .row .footer-menu .footer-menu-more ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.footer-primary .container .row .footer-menu .footer-menu-more ul li {
    padding: 8px 0;
}

.footer-primary .container .row .footer-menu .footer-menu-more ul li a {
    color: #ffffff;
    font-weight: 500;
}

.footer-primary .container .row .footer-menu .footer-menu-more ul li a:hover {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;   
}
